
</body>

<footer>
    <ul>
        <li>
            <p> Karina Rodriguez </p>
        </li>
        <li>
             <a href="https://www.linkedin.com/in/karina-v-rodriguez/"> <img src="/img/003-linkedin.png" alt=""> </a>
        </li>
    </ul>

</footer>

</html>